$topbar_size: 30px;
$footer_size: 40px;
$window_padding: 10px;
$site_content_offset_top: 20px;

$header_height: 150px;

$topbar_menu_color: #FFF;
$topbar_menu_color_hover: #222;
$topbar_bg_color: (21, 21, 21, .8);

$footer_bg_color: (240, 240, 240, .8);
$footer_copy_color: #666;
$footer_lang_color: $link_color_default;
$footer_lang_color_hover: $link_color_default;

body, html {
	height: 100%;
	min-height: 100%;
}

body {
	background: #FFF;
	font-size: $font_default_size;
}

body, input, textarea {
	font-family: $font_default_family;
	font-size: $font_default_size;
}

.site__wrapper {
	max-width: 100%;
    min-height: 100%;
    position: relative;
}

.site-topbar__wrapper {
	@include background_rgba(nth($topbar_bg_color, 1), nth($topbar_bg_color, 2), nth($topbar_bg_color, 3), nth($topbar_bg_color, 4));
	min-width: $screen_phone;
	width: 100%;
	z-index: 10;

	@include respond_to(screen_wide) {
		position: fixed;
		top: 0px;
		left: 0px;
	}
}

	.site-topbar {
		min-width: $screen_phone;
		max-width: $screen_wide;

		@include respond_to(screen_wide) {
			margin: auto;
			width: $screen_wide;
			height: $topbar_size;
		}
	}

	.site-topbar__navigation {
		display: block;
		line-height: $topbar_size;

		@include respond_to(screen_phone) {
			text-align: center;
		}
	}

		.site-topbar__navigation li {
			display: inline-block;
			line-height: $topbar_size;
			
			@include respond_to(screen_tablet) {
				float: left;
			}

			@include respond_to(screen_wide) {
				float: left;
			}
		}

		.site-topbar__navigation--right {
			@include respond_to(screen_tablet) {
				float: right !important;
			}

			@include respond_to(screen_wide) {
				float: right !important;
			}
		}

			.site-topbar__navigation a {
				display: inline-block;
				height: $topbar_size;
				padding: 0px $window_padding;
				color: $topbar_menu_color;
			}

			.site-topbar__navigation a:hover, .site-topbar__navigation--current a {
				@include background_rgba(255, 255, 255, .8);
				color: $topbar_menu_color_hover !important;
			}

.site-header {
	min-width: $screen_phone;

	@include respond_to(screen_wide) {
		padding-top: $topbar_size;
	}
}

	.site-header__photo {
		background: url('/images/header.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0% 50%;
		opacity: .95;
		min-width: $screen_phone;
		height: $header_height;
	}

	.site-header__contacts-wrapper {
		position: relative;
		min-width: $screen_phone;
		max-width: $screen_wide;
		text-align: right;
		height: 44px + $window_padding;
		padding-top: $header_height - 44px - $window_padding;

		@include respond_to(screen_phone) {
			text-align: center;
		}

		@include respond_to(screen_wide) {
			width: $screen_wide;
			margin: auto;
		}
	}

		.site-header__contacts {
			line-height: 10px;
			padding: 10px 10px;
			border-radius: 10px;
			display: inline-block;
			@include background_rgba(66, 66, 66, .5);

			@include respond_to(screen_tablet) {
				margin-right: $window_padding;
			}
		}

			.site-header__contacts a img {
				width: 24px;
				height: 24px;
				opacity: .9;
			}

	.site-header__title-wrapper {
		height: 50px;
		padding: 50px 0px;
		text-align: center;
	}

		.site-header__title {
			font-size: 30px;
			line-height: 30px;
			padding: 10px 30px;
			border-radius: 10px;
			color: #EEE;
			text-align: center;
			display: inline-block;
			@include background_rgba(66, 66, 66, .7);
			letter-spacing: 2px;
		}

.site-content {
	min-width: $screen_phone;
	padding-bottom: $footer_size + 10px;
	padding-top: $site_content_offset_top;

	@include respond_to(screen_phone) {
		padding-bottom: ($footer_size * 2) + 10px;
	}
}

	.site-content__container {
		min-width: $screen_phone - $window_padding * 2;
		max-width: $screen_wide - $window_padding * 2;
		padding: 0px $window_padding;

		@include respond_to(screen_wide) {
			margin: auto;
			width: $screen_wide - $window_padding;
		}
	}

.site-footer__wrapper {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	height: $footer_size;
	min-width: $screen_phone;
	@include background_rgba(nth($footer_bg_color, 1), nth($footer_bg_color, 2), nth($footer_bg_color, 3), nth($footer_bg_color, 4));

	@include respond_to(screen_phone) {
		height: $footer_size * 2;
	}
}

	.site-footer {
		min-width: $screen_phone;
		max-width: $screen_wide;
		height: $footer_size * 2;

		@include respond_to(screen_tablet) {
			height: $footer_size;
		}

		@include respond_to(screen_wide) {
			margin: auto;
			width: $screen_wide;
			height: $footer_size;
		}
	}

	.site-footer__copy {
		height: $footer_size;
		line-height: $footer_size;
		text-align: center;
		color: $footer_copy_color;

		@include respond_to(screen_tablet) {
			text-align: left;
			float: left;
			padding-left: $window_padding;
		}

		@include respond_to(screen_wide) {
			text-align: left;
			float: left;
			padding-left: $window_padding;
		}
	}

	.site-footer__lang {
		height: $footer_size;
		line-height: $footer_size;
		text-align: center;

		@include respond_to(screen_tablet) {
			text-align: right;
			float: right;
			padding-right: $window_padding;
		}

		@include respond_to(screen_wide) {
			text-align: right;
			float: right;
			padding-right: $window_padding;
		}
	}

		.site-footer__lang a {
			color: $footer_lang_color;
			display: inline-block;
			line-height: $footer_size;
			position: relative;
			padding-left: 30px;
		}

		.site-footer__lang a:hover {
			color: #footer_lang_color_hover;
			text-decoration: underline;
		}

		.site-footer__lang a img {
			position: absolute;
			top: ($footer_size / 2) - 8;
			left: 0px;
		}

.floating-clear {
	clear: both;
}