$storage_filters_width: 200px;
$storage_filters_margin: 20px;

.storage__wrapper {

}

.storage__uploader {

}

	.storage__uploader form {
		position: absolute;
		margin-left: -9999px;
		top: 0px;
	}

	.storage__upload {
		text-align: center;
		line-height: 20px;
		font-size: 14px;
		padding: 30px 0px;
		color: #999;
		background: #f5f5f5;
		margin-bottom: 15px;
		cursor: pointer;
	}

		.storage__upload--hover, .storage__upload:hover {
			background: #EEE !important;
		}

	.storage__uploads {

	}

		.storage__uploads-file {
			height: 20px;
			margin-bottom: 15px;
			position: relative;
			text-align: center;
			background: #f5f5f5;
			cursor: pointer;
		}

		.storage__uploads-progress {
			position: absolute;
			height: 20px;
			top: 0px;
			left: 0px;
			background: #B9D0A3;
		}

			.storage__uploads-progress--error {
				background: #FFF4F4;
			}

		.storage__uploads-title {
			position: absolute;
			height: 20px;
			width: 100%;
			text-align: center;
			line-height: 20px;
			font-size: 12px;
		}

.storage__options-wrapper {
	@include respond_to(screen_wide) {
		float: right;
		min-width: $storage_filters_width;
	}

	@include respond_to(screen_tablet) {
		float: right;
		min-width: $storage_filters_width;
	}
}

	.storage__options {

	}

	.storage__options-spacing {
		line-height: 1px;
		background: #CCC;
		height: 1px;
		margin: 9px 0px;
	}

	.storage__options-group {
		@include respond_to(screen_phone) {
			text-align: center;
		}
	}
		.storage__option {
			position: relative;
			height: 24px;
			line-height: 24px;
			display: block;
			cursor: pointer;
			padding: 0px 10px;
			margin: 0px 0px 5px 0px;
			border-radius: 3px;

			@include respond_to(screen_phone) {
				margin: 0px 5px 5px 5px;
				display: inline-block;
			}
		}

		.storage__option:hover, .storage__option--selected {
			background: #EEE;
		}

		.storage__option span {
			display: block;
			position: absolute;
			right: 5px;
			top: 0px;
			line-height: 24px;
			height: 24px;
			color: #999;
			font-size: 12px;
			
			@include respond_to(screen_phone) {
				display: none;
			}
		}

	.storage__options-group--media {
		.storage__option {
			padding: 0px 10px 0px 30px;
		}

		.storage__option img {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 2px;
			left: 4px;
			opacity: .8;
		}
	}

.storage__files-wrapper {
	@include respond_to(screen_wide) {
		margin-right: $storage_filters_width + $storage_filters_margin;
		min-width: $screen_tablet - $storage_filters_width - $storage_filters_margin - 60px;
	}

	@include respond_to(screen_tablet) {
		margin-right: $storage_filters_width + $storage_filters_margin;
		min-width: $screen_tablet - $storage_filters_width - $storage_filters_margin - 60px;
	}
}

	.storage__files {
		@include respond_to(screen_wide) {
			min-width: 420px;
		}

		@include respond_to(screen_tablet) {
			min-width: 220px;
		}
	}

	.storage__files-separator {
		line-height: 1px;
		background: #CCC;
		height: 1px;
		margin: 9px 0px
	}

	.storage__file-wrapper {
		padding: 0px 40px 0px 40px;
		position: relative;
		line-height: 16px;
		font-size: 12px;
		color: #666;
	}

		.storage__file-wrapper--preview {
			background-size: cover;
			background-repeat: no-repeat;
			padding: 160px 0px 0px 0px;
			line-height: 20px;
			color: #EEE;
		}

	.storage__file-ico {
		width: 26px;
		height: 26px;
		position: absolute;
		top: 3px;
		left: 3px;
		opacity: .9;
		cursor: pointer;
	}

		.storage__file-wrapper:hover .storage__file-ico {
			opacity: 1;
		}

		.storage__file-wrapper--preview .storage__file-ico {
			display: none;
		}

	.storage__file-title {
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		display: block;
		color: #666 !important;
	}

		.storage__file-wrapper--preview .storage__file-title {
			color: #EEE !important;
		}

		.storage__file-title:hover {
			text-decoration: underline;
		}

		.storage__file-wrapper--preview .storage__file-title {
			padding: 0px 10px;
			@include background_rgba(44, 44, 44, .6);
		}

	.storage__file-date {
		position: absolute;
		bottom: 0px;
		right: 5px;
	}

	.storage__file-info {

	}

		.storage__file-wrapper--preview .storage__file-info {
			padding: 0px 10px;
			@include background_rgba(44, 44, 44, .6);
		}

	.storage__file-size {

	}

	.storage__file-downloads {
		
	}