@import 'styles/mixins/background_rgba';
@import 'styles/mixins/respond_to';
@import 'styles/variables/default';

$footer_padding: 10px;
$footer_size: 40px;
$footer_bg_color: (240, 240, 240, .8);
$footer_copy_color: #666;
$footer_lang_color: $link_default_color;
$footer_lang_color_hover: $link_default_color;

.site-footer__wrapper {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	height: $footer_size;
	min-width: $screen_phone;
	@include background_rgba(nth($footer_bg_color, 1), nth($footer_bg_color, 2), nth($footer_bg_color, 3), nth($footer_bg_color, 4));

	@include respond_to(screen_phone) {
		height: $footer_size * 2;
	}
}

	.site-footer {
		min-width: $screen_phone;
		max-width: $screen_wide;
		height: $footer_size * 2;

		@include respond_to(screen_tablet) {
			height: $footer_size;
		}

		@include respond_to(screen_wide) {
			margin: auto;
			width: $screen_wide;
			height: $footer_size;
		}
	}

	.site-footer__copy {
		height: $footer_size;
		line-height: $footer_size;
		text-align: center;
		color: $footer_copy_color;

		@include respond_to(screen_tablet) {
			text-align: left;
			float: left;
			padding-left: $footer_padding;
		}

		@include respond_to(screen_wide) {
			text-align: left;
			float: left;
			padding-left: $footer_padding;
		}
	}

	.site-footer__lang {
		height: $footer_size;
		line-height: $footer_size;
		text-align: center;

		@include respond_to(screen_tablet) {
			text-align: right;
			float: right;
			padding-right: $footer_padding;
		}

		@include respond_to(screen_wide) {
			text-align: right;
			float: right;
			padding-right: $footer_padding;
		}
	}

		.site-footer__lang a {
			color: $footer_lang_color;
			display: inline-block;
			line-height: $footer_size;
			position: relative;
			padding-left: 30px;
		}

		.site-footer__lang a:hover {
			color: $footer_lang_color_hover;
			text-decoration: underline;
		}

		.site-footer__lang--en a {
			background: url('./lang_en.png') no-repeat 0px 12px;
		}

		.site-footer__lang--ru a {
			background: url('./lang_ru.png') no-repeat 0px 12px;
		}

	.site-footer__counters {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 1px;
		height: 1px;
		margin-left: -9999px;
	}