@import 'styles/mixins/background_rgba';
@import 'styles/mixins/respond_to';

$header_bg: (90, 90, 90);

.photo-grid {
	margin-left: -4px;
}

.photo-grid__item-wrapper {
	float: left;
	
	@include respond_to(screen_phone) {
		width: 100% !important;
	}
}

.photo-grid__item {
	margin: 0px 0px 4px 4px;
	display: block;
	height: 150px;
	background: #f5f5f5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
	position: relative;
}

	.photo-grid__item-header {
		position: absolute;
		bottom: 10px;
		left: 10px;
		margin-right: 120px;
	}

	.photo-grid__item-title, .photo-grid__item-desc {
		padding: 0px 10px;
		border-radius: 3px;
		color: #FFF;
		@include background_rgba(nth($header_bg, 1), nth($header_bg, 2), nth($header_bg, 3), 0.6);
	}

	.photo-grid__item-title {
		font-size: 18px;
		line-height: 24px;

		@include respond_to(screen_tablet) {
			font-size: 16px;
			line-height: 20px;
		}

		@include respond_to(screen_phone) {
			font-size: 14px;
			line-height: 20px;
		}
	}

	.photo-grid__item-desc {
		font-size: 12px;
		line-height: 18px;
	}

	.photo-grid__item-desc {
		margin-top: 5px;
	}

	.photo-grid__item-date {
		color: #FFF;
		position: absolute;
		right: 10px;
		bottom: 10px;
		padding: 0px 10px;
		font-size: 12px;
		line-height: 18px;
		border-radius: 3px;
		@include background_rgba(nth($header_bg, 1), nth($header_bg, 2), nth($header_bg, 3), 0.6);
	}