@import 'styles/mixins/background_rgba';
@import 'styles/mixins/respond_to';

$storage_filters_width: 200px;
$storage_filters_margin: 20px;
$storage_upload_height: 24px;
$upload_bg: (185, 208, 163);
$upload_bg_error: (177, 7, 7);

@mixin insert_media($url) {
	position: absolute;
	background-image: url($url);
	background-size: 20px 20px;
	content: "";
	width: 20px;
	height: 20px;
	top: 2px;
	left: 4px;
	opacity: .8;
}

.storage__wrapper {

}

.storage__uploader {

}

	.storage__uploader form {
		position: absolute;
		margin-left: -9999px;
		top: 0px;
	}

	.storage__upload {
		text-align: center;
		line-height: 20px;
		font-size: 14px;
		padding: 30px 0px;
		color: #999;
		background: #f5f5f5;
		margin-bottom: 15px;
		cursor: pointer;
	}

		.storage__upload--hover, .storage__upload:hover {
			background: #EEE !important;
		}

.storage__uploads {
	margin-bottom: 20px;
}

	.storage__uploads-file {
		height: $storage_upload_height;
		margin-bottom: 10px;
		position: relative;
		background: #f5f5f5;
		font-size: 12px;
		cursor: pointer;
	}

	.storage__uploads-progress {
		position: absolute;
		height: $storage_upload_height;
		top: 0px;
		left: 0px;
		@include background_rgba(nth($upload_bg, 1), nth($upload_bg, 2), nth($upload_bg, 3), 0.6);
	}

		.storage__uploads-file:hover .storage__uploads-progress {
			@include background_rgba(nth($upload_bg, 1), nth($upload_bg, 2), nth($upload_bg, 3), 0.9);
		}

		.storage__uploads-progress--error {
			@include background_rgba(nth($upload_bg_error, 1), nth($upload_bg_error, 2), nth($upload_bg_error, 3), 0.2);
		}

		.storage__uploads-file:hover .storage__uploads-progress--error {
			@include background_rgba(nth($upload_bg_error, 1), nth($upload_bg_error, 2), nth($upload_bg_error, 3), 0.3);
		}

	.storage__uploads-title {
		top: 0px;
		left: 0px;
		margin-right: 150px;
		padding-left: 10px;
		position: relative;
		line-height: $storage_upload_height;
		font-weight: bold;
		overflow: hidden;
		white-space: nowrap;
	}

	.storage__uploads-status {
		top: 0px;
		right: 10px;
		position: absolute;
		line-height: $storage_upload_height;
	}

.storage__options-wrapper {
	@include respond_to(screen_wide) {
		float: right;
		min-width: $storage_filters_width;
	}

	@include respond_to(screen_tablet) {
		float: right;
		min-width: $storage_filters_width;
	}
}

	.storage__options {

	}

	.storage__options-spacing {
		line-height: 1px;
		background: #CCC;
		height: 1px;
		margin: 9px 0px;
	}

	.storage__options-group {
		@include respond_to(screen_phone) {
			text-align: center;
		}
	}
		.storage__option {
			position: relative;
			height: 24px;
			line-height: 24px;
			display: block;
			cursor: pointer;
			padding: 0px 10px;
			margin: 0px 0px 5px 0px;
			border-radius: 3px;

			@include respond_to(screen_phone) {
				margin: 0px 5px 5px 5px;
				display: inline-block;
			}
		}

		.storage__option:hover, .storage__option--selected {
			background: #EEE;
		}

		.storage__option span {
			display: block;
			position: absolute;
			right: 5px;
			top: 0px;
			line-height: 24px;
			height: 24px;
			color: #999;
			font-size: 12px;
			
			@include respond_to(screen_phone) {
				display: none;
			}
		}

	.storage__options-group--media {
		.storage__option {
			padding: 0px 10px 0px 30px;
		}
		
		.storage__option--media-all:before {
			@include insert_media('./media/media_all.png');
		}

		.storage__option--media-image:before {
			@include insert_media('./media/media_image.png');
		}

		.storage__option--media-video:before {
			@include insert_media('./media/media_video.png');
		}

		.storage__option--media-audio:before {
			@include insert_media('./media/media_audio.png');
		}

		.storage__option--media-document:before {
			@include insert_media('./media/media_document.png');
		}

		.storage__option--media-source:before {
			@include insert_media('./media/media_source.png');
		}

		.storage__option--media-archive:before {
			@include insert_media('./media/media_archive.png');
		}

		.storage__option--media-other:before {
			@include insert_media('./media/media_other.png');
		}
	}

.storage__files-wrapper, .storage__paginator, .storage__loader {
	@include respond_to(screen_wide) {
		margin-right: $storage_filters_width + $storage_filters_margin;
		min-width: $screen_tablet - $storage_filters_width - $storage_filters_margin - 60px;
	}

	@include respond_to(screen_tablet) {
		margin-right: $storage_filters_width + $storage_filters_margin;
		min-width: $screen_tablet - $storage_filters_width - $storage_filters_margin - 60px;
	}
}
	.storage__files {
		@include respond_to(screen_wide) {
			min-width: 420px;
		}

		@include respond_to(screen_tablet) {
			min-width: 220px;
		}
	}

	.storage__file-wrapper {
		padding: 10px 5px 10px 65px;
		position: relative;
		font-size: 12px;
		color: #666;
		line-height: 25px;
	}

	.storage__file-wrapper--deleted {
		opacity: .3;
	}

	.storage__file-wrapper:hover {
		background: #f5f5f5;
		cursor: pointer;
	}

	.storage__file-ico {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 10px;
		left: 5px;
		cursor: pointer;
		border-radius: 3px;
	}

		@mixin insert_ico($url) {
			background-image: url($url);
			background-size: 30px 30px;
			content: "";
			width: 30px;
			height: 30px;
			opacity: .7;
			top: 20px;
			left: 15px;
		}

		.storage__file-ico--image {
			@include insert_ico('./media/media_image.png');
		}

		.storage__file-ico--video {
			@include insert_ico('./media/media_video.png');
		}

		.storage__file-ico--audio {
			@include insert_ico('./media/media_audio.png');
		}

		.storage__file-ico--document {
			@include insert_ico('./media/media_document.png');
		}

		.storage__file-ico--source {
			@include insert_ico('./media/media_source.png');
		}

		.storage__file-ico--archive {
			@include insert_ico('./media/media_archive.png');
		}

		.storage__file-ico--other {
			@include insert_ico('./media/media_other.png');
		}

	.storage__file-title {
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		margin-right: 70px;
	}

		.storage__file-title a {
			font-weight: bold;
		}

		.storage__file-loader {
			position: absolute;
			top: 10px;
			right: 5px;
			height: 25px;
		}

		.storage__file-delete, .storage__file-restore {
			position: absolute;
			top: 10px;
			right: 0px;
			padding: 0px 5px;
			opacity: .5;
			font-weight: bold;
		}

			.storage__file-restore {
				opacity: 1;
			}

			.storage__file-delete {
				color: #A20101 !important;
			}

			.storage__file-delete:hover {
				opacity: 1;
			}

	.storage__file-info {
		color: #999;
		overflow: hidden;
		white-space: nowrap;
	}

		.storage__file-downloads {
			position: absolute;
			bottom: 10px;
			right: 5px;
		}

.storage__files-separator {
	line-height: 1px;
	background: #CCC;
	height: 1px;
}

.storage__paginator, .storage__loader {
	margin-top: 20px;
}