@import 'styles/mixins/background_rgba';
@import 'styles/mixins/respond_to';

$tags_width: 220px;
$tags_margin: 20px;

/**
 *  Basic wrappers
 */
.gallery__tags-wrapper {

}

.gallery__grid-wrapper {
	margin-top: 30px;
}

.gallery__paginator, .gallery__loader {
	margin-top: 10px;
	min-height: 30px;
}