.landing__not_found, .landing__error {
	text-align: center;
	font-weight: bold;
}

.landing__paginator {
	margin-top: 10px;
}

.landing-tags {
	margin-top: 20px;
}

.landing-feed {
	margin-top: 20px;
}