@import 'styles/mixins/respond_to';
$window_padding: 10px;
$margin_bottom: 20px;

/**
 *	Common
 */
.page-content {
	font-family: Verdana, sans-serif;
}

	.page-content a {
		color: #6da3bd;
	}

		.page-content a:hover {
			text-decoration: underline;
		}

	.page-content__clear {
		clear: both;
	}

/**
 *	Titles
 */
.page-content__h {
	font-family: 'Fira Sans',sans-serif;
	margin: 0px 0px $margin_bottom 0px;
	font-size: 26px;
	line-height: 30px;
	color: #555;
}

/**
 *	PhotoGrid
 */
.page-content__photo_grid {
	margin-top: $margin_bottom;
	margin-bottom: $margin_bottom;
	text-align: center;
	vertical-align: top;
}

/**
 *	Page block
 */
.page-content__block {
	min-width: $screen_phone - $window_padding * 2;
	max-width: $screen_wide - $window_padding * 2;
	padding: 0px $window_padding;

	@include respond_to(screen_wide) {
		margin: auto;
		width: $screen_wide - $window_padding;
	}
}

/**
 *	Paragraph
 */
.page-content__paragraph {
	color: #000;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: -0.003em;
	font-style: normal;
	margin-bottom: $margin_bottom;
}

	.page-content__paragraph strong {
		font-weight: bold;
		color: #444;
	}

/**
 *	Photo
 */
.page-content__photo {
	margin: $margin_bottom 0px;
}

	.page-content__photo img {
		max-width: 100%;
	}

	.page-content__photo-desc {
		line-height: 20px;
		font-size: 14px;
		text-align: center;
	}

/**
 *	Photo - grid
 */
.page-content__grid_photo {
	width: 25%;
	display: inline-block;
	vertical-align:top;

	@include respond_to(screen_tablet) {
		width: 33%;
	}

	@include respond_to(screen_phone) {
		width: 50%;
	}
}

	.page-content__grid_photo-image {
		height: 130px;
		width: 90%;
		background: #EEE;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0px auto 10px auto;
	}

	.page-content__grid_photo-desc {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		margin-bottom: $margin_bottom;
	}

/**
 *	Photo - cover
 */
.page-content__cover_photo {

}

	.page-content__cover_photo--right {
		float: right;
	}

	.page-content__cover_photo--left {
		float: left;
	}

	.page-content__cover_photo-image {
		width: 150px;
		height: 100px;
		background: #EEE;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 10px;
		margin-top: 6px;
	}

	.page-content__cover_photo--right .page-content__cover_photo-image {
		margin-left: 15px;
	}

	.page-content__cover_photo--left .page-content__cover_photo-image {
		margin-right: 15px;
	}

	.page-content__cover_photo-desc {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		margin-bottom: $margin_bottom;
	}

/**
 *	Photo - parallax
 */
.page-content__parallax_photo {
	height: 400px;
	margin: $margin_bottom 0px;

	@include respond_to(screen_tablet) {
		height: 300px;
	}

	@include respond_to(screen_phone) {
		height: 200px;
	}
}

	.page-content__parallax_photo-image {
		width: 100%;
		height: 100%;
		background: #EEE;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;

		@include respond_to(screen_wide) {
			background-attachment: fixed;
		}
	}

	.page-content__parallax_photo-desc {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		margin-bottom: $margin_bottom;
	}

/**
 *	Photo - small
 */
.page-content__small_photo {
	margin: $margin_bottom 0px;
}

	.page-content__small_photo-image {
		height: 300px;
		height: 40vh;
		background: #EEE;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.page-content__small_photo-desc {
		line-height: 20px;
		font-size: 14px;
		text-align: center;
	}

/**
 *	Code block
 */
.page-content__code {
	margin: $margin_bottom 0px;
}

	.page-content__code-desc {
		line-height: 16px;
		font-size: 12px;
		margin-bottom: 8px;
		font-weight: bold;
	}

	.page-content__code pre {
		display: block;
		padding: 5px 10px;
		border-radius: 3px;
		background: #f5f2f0;
		color: #333;
		line-height: 24px;
		font-size: 14px;
		font-family: Courier, "DejaVu Sans Mono", monospace;
		overflow-x: scroll;

	}

		.page-content__code-comment, .page-content__code-comment span {
			color: #708090 !important;
		}

		.page-content__code-string, .page-content__code-string span {
			color: #690 !important;
		}

		.page-content__code-variable {
			color: #0086b3;
		}

		.page-content__code-static {
			color: #458;
		}

		.page-content__code-constant {
			color: #905;
		}

		.page-content__code-function {
			color: #302d8a;
		}

		.page-content__code-class {
			color: #458;
		}