<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="alternate" hreflang="x-default" href="//ferg.in/admin/" /> 
		<link rel="alternate" hreflang="ru-ru" href="//ferg.in/ru/admin/" />
		<link rel="alternate" hreflang="en-us" href="//ferg.in/en/admin/" />

		<title>Admin</title>

		<script>window.__CURRENT_LANG = '{{Lang::getLang()}}';</script>

		@if (Config::get('app.env') == 'dev')
			<link href="/assets/admin/admin.css?v=@build_hash" rel="stylesheet" />
			<script src="/assets/admin/admin.js?v=@build_hash" defer></script>
		@else
			<link href="/assets/v_@file_hash('/public/assets/admin/admin.css')/admin/admin.css" rel="stylesheet" />
			<script src="/assets/v_@file_hash('/public/assets/admin/admin.js')/admin/admin.js" defer></script>
		@endif
	</head>

	<body>
		<div class="site-wrapper" id="react-root">
			<div style="text-align: center; margin-top: 30px;">Loading...</div>
		</div>
	</body>
</html>