<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="alternate" hreflang="x-default" href="//ferg.in/" /> 
		<link rel="alternate" hreflang="ru-ru" href="//ferg.in/ru/" />
		<link rel="alternate" hreflang="en-us" href="//ferg.in/en/" />

		<title>@section('site_title')@lang("site.title")@show</title>
		
		<script>window.__CURRENT_LANG = '{{Lang::getLang()}}';</script>

		@if (Config::get('app.env') == 'dev')
			<link href="/assets/site/site.css?v=@build_hash" rel="stylesheet" />
			<script src="/assets/site/site.js?v=@build_hash" defer></script>
		@else
			<link href="/assets/v_@file_hash('/public/assets/site/site.css')/site/site.css" rel="stylesheet" />
			<script src="/assets/v_@file_hash('/public/assets/site/site.js')/site/site.js" defer></script>
		@endif
	</head>

	<body>
		<div class="site-wrapper" id="react-root">
			<div style="text-align: center; margin-top: 30px;">Loading...</div>
		</div>
	</body>
</html>