@import 'styles/mixins/background_rgba';
@import 'styles/mixins/respond_to';

$tags_width: 200px;
$tags_margin: 20px;
$select_bg: (200, 200, 200);
$select_bg_hover: (191, 191, 191);
$buttons_bg: (90, 90, 90);
$collection_title_bg: (60, 60, 60, 0.7);

/**
 *  Basic wrappers
 */
.photolibrary__tags-wrapper {
	@include respond_to(screen_wide) {
		float: right;
		max-width: $tags_width;
	}

	@include respond_to(screen_tablet) {
		float: right;
		max-width: $tags_width;
	}
}

	.photolibrary__tags {

	}

.photolibrary__photos-wrapper {
	@include respond_to(screen_wide) {
		margin-right: $tags_width + $tags_margin;
		min-width: $screen_tablet - $tags_width - $tags_margin - 60px;
	}

	@include respond_to(screen_tablet) {
		margin-right: $tags_width + $tags_margin;
		min-width: $screen_tablet - $tags_width - $tags_margin - 60px;
	}
}

	.photolibrary__photos {
		margin: 0px -5px;

		@include respond_to(screen_wide) {
			min-width: 420px;
		}

		@include respond_to(screen_tablet) {
			min-width: 220px;
		}
	}

/**
 *	Separator
 */
.photolibrary__separator {
	border-top: 1px solid #CCC;
	height: 1px;
	margin: 10px 5px;
}

/**
 *  Photos
 */
.photolibrary__photo-wrapper {
	float: left;
	width: 25%;

	@include respond_to(screen_tablet) {
		min-width: 150px;
		width: 25%;
	}

	@include respond_to(screen_phone) {
		width: 50%;
	}
}

	.photolibrary__photos-clear {
		clear: left;
	}

	.photolibrary__photo {
		margin: 5px;
		height: 90px;
		background-size: cover;
		background-repeat: no-repeat;
		cursor: pointer;
		position: relative;
	}

	.photolibrary__photo--deleted {
		opacity: .6;
	}

	.photolibrary__photo-button {
		border: 1px solid #CCC;
		position: absolute;
		top: 8px;
		left: 8px;
		height: 5px;
		width: 5px;
		padding: 5px;
		border-radius: 12px;
		border-width: 2px;
		border-style: solid;
		opacity: .8;
	}

		.photolibrary__photo-button:hover {
			opacity: 1;
		}

		.photolibrary__photo-button-select {
			border-color: #EEE;
			@include background_rgba(nth($select_bg, 1), nth($select_bg, 2), nth($select_bg, 3), 0.2);
		}

		.photolibrary__photo-button-unselect {
			border-color: #EEE;
			@include background_rgba(nth($select_bg_hover, 1), nth($select_bg_hover, 2), nth($select_bg_hover, 3), 0.9);
		}

	.photolibrary__photo-delete, .photolibrary__photo-restore, .photolibrary__photo-edit {
		position: absolute;
		opacity: .8;
		font-size: 12px;
		color: #FFF !important;
		padding: 0px 5px;
		line-height: 20px;
		border-radius: 3px;
		@include background_rgba(nth($buttons_bg, 1), nth($buttons_bg, 2), nth($buttons_bg, 3), 0.7);
	}
		.photolibrary__photo-delete, .photolibrary__photo-restore {
			bottom: 5px;
			right: 5px;
		}

		.photolibrary__photo-edit {
			bottom: 5px;
			left: 5px;
		}

		.photolibrary__photo-delete:hover, .photolibrary__photo-restore:hover, .photolibrary__photo-edit:hover {
			opacity: 1;
		}

	.photolibrary__photo-loader {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}

/**
 *  Tags
 */
.photolibrary__tags {

}

.photolibrary__tags-spacing {
	line-height: 1px;
	background: #CCC;
	height: 1px;
	margin: 9px 0px;
}

/**
 *  AttachAllButton
 */
.photolibrary__selector {
	margin-top: 10px;
	line-height: 25px;
	text-align: right;
	font-size: 12px;
}

	.photolibrary__selector-abort {
		display: inline-block;
		margin-right: 20px;
		cursor: pointer;
	}

		.photolibrary__selector-abort:hover {
			text-decoration: underline;
		}

	.photolibrary__selector-attach {
		display: inline-block;
		padding: 0px 7px;
		cursor: pointer;
		background: #577294;
		border-radius: 3px;
		color: #FFF;
	}

		.photolibrary__selector-attach:hover {
			background: #41556f;
		}

/**
 *  Collections
 */
.photolibrary__collection-wrapper {
	float: left;
	width: 50%;
}

	.photolibrary__collection {
		margin: 5px;
		height: 120px;
		cursor: pointer;
		position: relative;
		background: #ecf1f5;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photolibrary__collections-clear {
		clear: left;
	}

	.photolibrary__collection--deleted {
		opacity: .6;
	}

	.photolibrary__collection-name-wrapper {
		text-align: center;
		line-height: 120px;
	}

		.photolibrary__collection-name {
			line-height: 20px;
			display: inline-block;
			border-radius: 3px;
			padding: 5px 10px;
			margin: 0px 5px;
			color: #FFF;
			@include background_rgba(nth($collection_title_bg, 1), nth($collection_title_bg, 2), nth($collection_title_bg, 3), nth($collection_title_bg, 4));
		}

	.photolibrary__collection-edit, .photolibrary__collection-delete, .photolibrary__collection-abort, .photolibrary__collection-restore, .photolibrary__collection-photos {
		position: absolute;
		opacity: .8;
		font-size: 12px;
		color: #FFF !important;
		padding: 0px 5px;
		line-height: 20px;
		border-radius: 3px;
		@include background_rgba(nth($buttons_bg, 1), nth($buttons_bg, 2), nth($buttons_bg, 3), 0.7);
	}

		.photolibrary__collection-photos {
			top: 10px;
			right: 10px;
		}

		.photolibrary__collection-delete, .photolibrary__collection-restore {
			right: 10px;
			bottom: 10px;
		}

		.photolibrary__collection-abort, .photolibrary__collection-edit {
			bottom: 10px;
			left: 10px;
		}

		.photolibrary__collection-delete:hover, .photolibrary__collection-abort:hover, .photolibrary__collection-restore:hover, .photolibrary__collection-edit:hover {
			opacity: 1;
		}

		.photolibrary__collection-loader {
			position: absolute;
			bottom: 15px;
			right: 10px;
		}

	.photolibrary__collection-editor {
		display: block;
		line-height: 120px;
		text-align: center;
	}

	.photolibrary__collection-editor input[type="text"] {
		padding: 2px 5px; 
		max-width: 100%;
	}

	.photolibrary__collections-collapse, .photolibrary__collections-expand {
		display: block;
		text-align: center;
		cursor: pointer;
		border-radius: 3px;
		line-height: 25px;
		margin: 5px 5px 15px 5px;
	}

	.photolibrary__collections-collapse {
		background: #577294;
		color: #FFF;
	}

	.photolibrary__collections-expand {
		color: #577294;
		background: #EEE;
	}

/**
 *	Cover
 */
.photolibrary__cover-wrapper {

}

	.photolibrary__cover {
		margin: 5px;
		height: 120px;
		position: relative;
		background: #ecf1f5;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.photolibrary__cover-photos, .photolibrary__cover-back {
		position: absolute;
		opacity: .8;
		font-size: 12px;
		color: #FFF !important;
		padding: 0px 5px;
		line-height: 20px;
		border-radius: 3px;
		@include background_rgba(nth($buttons_bg, 1), nth($buttons_bg, 2), nth($buttons_bg, 3), 0.7);
	}
		.photolibrary__cover-back {
			top: 10px;
			left: 10px;
		}

		.photolibrary__cover-photos {
			top: 10px;
			right: 10px;
		}

		.photolibrary__cover-back:hover {
			cursor: pointer;
			opacity: 1;
		}

	.photolibrary__cover-name-wrapper {
		text-align: center;
		line-height: 120px;
	}

		.photolibrary__cover-name {
			line-height: 20px;
			display: inline-block;
			border-radius: 3px;
			padding: 5px 10px;
			margin: 0px 5px;
			color: #FFF;
			@include background_rgba(nth($collection_title_bg, 1), nth($collection_title_bg, 2), nth($collection_title_bg, 3), nth($collection_title_bg, 4));
		}

/**
 *	PhotoEditor
 */

.photolibrary__editor {
	min-width: 280px;
}

	.photolibrary__editor-cover {
		height: 150px;
		background-size: cover;
		background-repeat: no-repeat;
		margin-bottom: 10px;
	}

.photolibrary__editor-tags-wrapper {
	@include respond_to(screen_wide) {
		float: right;
		min-width: $tags_width;
	}

	@include respond_to(screen_tablet) {
		float: right;
		min-width: $tags_width;
	}
}

	.photolibrary__editor-tags {
		text-align: right;

		@include respond_to(screen_mobile) {
			text-align: center;
		}
	}

	.photolibrary__editor-tags-spacing {
		height: 1px;
		background: #CCC;
		margin: 10px 0px;
	}

.photolibrary__editor-info-wrapper {
	@include respond_to(screen_wide) {
		margin-right: $tags_width + $tags_margin;
		min-width: $screen_tablet - $tags_width - $tags_margin - 60px;
	}

	@include respond_to(screen_tablet) {
		margin-right: $tags_width + $tags_margin;
		min-width: $screen_tablet - $tags_width - $tags_margin - 60px;
	}
}

	.photolibrary__editor-info {
		@include respond_to(screen_wide) {
			min-width: 420px;
		}

		@include respond_to(screen_tablet) {
			min-width: 220px;
		}
	}

	.photolibrary__editor-info input[type="text"] {
		margin-bottom: 10px;
		padding: 2px 5px;

		@include respond_to(screen_wide) {
			min-width: 400px;
		}

		@include respond_to(screen_tablet) {
			min-width: 200px;
		}

		@include respond_to(screen_mobile) {
			margin: 0px auto 10px auto;
		}
	}

.photolibrary__editor-update {
	line-height: 24px;
	text-align: center;
	padding: 0px 7px;
	cursor: pointer;
	background: #DDD;
	border-radius: 3px;
	color: #333;
}

	.photolibrary__editor-update:hover {
		background: #CCC;
	}