<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="alternate" hreflang="x-default" href="//ferg.in/"> 
		<link rel="alternate" hreflang="ru-ru" href="//ferg.in/ru/">
		<link rel="alternate" hreflang="en-us" href="//ferg.in/en/">

        <title>@section('site_title')ferg.in@show</title>

        <link href="/css/site.css?v=@build_hash" rel="stylesheet">
	</head>

	<body>
		<div class="site-topbar__wrapper">
			<div class="site-topbar">
				<div class="site-topbar__navigation">
					<a href="/">Главная</a>
					<a href="/">Галерея</a>
					<a href="/">Бложе</a>
					<a href="/">Портфолио</a>
					<a href="/">Storage</a>

					<div class="floating-clear"></div>
				</div>

				<div class="site-topbar__auth">
					Войти через
				</div>

				<div class="floating-clear"></div>
			</div>
		</div>

		<div class="site-header">
			<div class="site-header__photo">
				
			</div>
		</div>

		<div class="site-content">
			<div class="site-content__photo">

			</div>

			<div class="site-content__container">
			@yield('site_content')
			</div>
		</div>

		<div class="site-footer__wrapper">
			<div class="site-footer">
				<div class="site-footer__lang">
					<a href="/en/">English version</a>
				</div>

				<div class="site-footer__copy">
					ferg.in &copy; 2013 – 2016
				</div>

				<div class="floating-clear"></div>
			</div>
		</div>
	</body>
</html>