<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="alternate" hreflang="x-default" href="//ferg.in/"> 
		<link rel="alternate" hreflang="ru-ru" href="//ferg.in/ru/">
		<link rel="alternate" hreflang="en-us" href="//ferg.in/en/">

		<title>@section('site_title')@lang("site.title")@show</title>

		<link href="/css/site.css?v=@build_hash" rel="stylesheet">
	</head>

	<body>
		<div class="site__wrapper">
		<div class="site-topbar__wrapper">
			<div class="site-topbar">
				<ul class="site-topbar__navigation">
					<li @if ($current_menu == "landing") class="site-topbar__navigation--current" @endif>
						<a href="/@lang/">@lang("site.menu_landing")</a>
					</li><li @if ($current_menu == "gallery") class="site-topbar__navigation--current" @endif>
						<a href="/@lang/gallery/">@lang("site.menu_gallery")</a>
					</li><li @if ($current_menu == "blog") class="site-topbar__navigation--current" @endif>
						<a href="/@lang/blog/">@lang("site.menu_blog")</a>
					</li><li @if ($current_menu == "portfolio") class="site-topbar__navigation--current" @endif>
						<a href="/@lang/portfolio/">@lang("site.menu_portfolio")</a>
					</li><li @if ($current_menu == "storage") class="site-topbar__navigation--current" @endif>
						<a href="/@lang/storage/">@lang("site.menu_storage")</a>
					</li><li class="site-topbar__navigation--right">
						<a href="#" onclick="return false;">@lang("site.menu_signin")</a>
					</li>
				</ul>

				<div class="floating-clear"></div>
			</div>
		</div>

		<div class="site-header">
			<div class="site-header__photo">
				@if ($current_menu == "landing")
				<div class="site-header__contacts-wrapper">
					<div class="site-header__contacts">
						<a href="mailto:me@ferg.in"><img src="/images/site/contacts/mail.png" /></a>
						<a target="_blank" rel="nofollow noopener noreferrer" href="https://github.com/ferggren"><img src="/images/site/contacts/github.png" /></a>
						<a href="skype:ferggren?chat"><img src="/images/site/contacts/skype.png" /></a>
						<a target="_blank" rel="nofollow noopener noreferrer" href="https://instagram.com/ferggren/"><img src="/images/site/contacts/instagram.png" /></a>
						<a target="_blank" rel="nofollow noopener noreferrer" href="https://telegram.me/ferggren"><img src="/images/site/contacts/telegram.png" /></a>
						<a target="_blank" rel="nofollow noopener noreferrer" href="https://vk.com/id4867738"><img src="/images/site/contacts/vk.png" /></a>
						<a target="_blank" rel="nofollow noopener noreferrer" href="https://www.facebook.com/ferggren"><img src="/images/site/contacts/facebook.png" /></a>
						<a target="_blank" rel="nofollow noopener noreferrer" href="https://steamcommunity.com/id/ferggren/"><img src="/images/site/contacts/steam.png" /></a>
					</div>
				</div>
				@else
				<div class="site-header__title-wrapper">
					<div class="site-header__title">
						{{Lang::get('site.menu_' . $current_menu)}}
					</div>
				@endif
			</div>
		</div>

		<div class="site-content">
			<div class="site-content__photo">

			</div>

			<div class="site-content__container">
			@yield('site_content')
			</div>
		</div>

		<div class="site-footer__wrapper">
			<div class="site-footer">
				<div class="site-footer__lang">
					@eval
					$lang = Lang::getLang() == 'ru' ? 'en' : 'ru';
					$url = '/' . $lang . '/';

					if (isset($_SERVER['REQUEST_URI'])) {
						$url = preg_replace(
							'#^/(?:ru/|en/)?(.*+)$#',
							'/' . $lang . '/$1',
							$_SERVER['REQUEST_URI']
						);
					}
					@endeval
					<a href="{{$url}}">
						<img src="/images/site/{{$lang}}.png" />
						@lang("site.swap_lang")
					</a>
				</div>

				<div class="site-footer__copy">
					ferg.in &copy; 2013 – 2016
				</div>

				<div class="floating-clear"></div>
			</div>
		</div>
		</div>
	</body>
</html>