@extends('site.base')

@section('site_title')
{{Lang::get('site.title_storage')}} // @parent
@stop

@section('site_content')
<div id="__storage">
	<div class="nice-form__loader"></div>
</div>

<br /><br />

<button id="__storage_photo">Select photo</button>
<button id="__storage_all">Select file</button>

<script>
	var storage = new Storage({
		container: "__storage",
		admin_mode: false,

		onselect: function(file) {
			var win = window.open(
				file.link_download,
				'_blank'
			);
			
  			win.focus();
		},

		onupload: function(file) {

		},
	});

	document.getElementById('__storage_photo').onclick = function() {
		var container = document.createElement('div');
		var storage = new Storage({
			container: container,
			admin_mode: false,

			onselect: function(file) {
				console.log('popup click', file);
			},

			onupload: function(file) {
				console.log('popup upload', file);
			},

			upload: {
				media: ['image', 'video'],
				access: "private",
				group: "storage",
			},

			display: {
				media: ['image'],
				group: 'storage',
				show_groups: true,
			},
		});

		var popup = Popup.createWindow({
			content: container,
			onclose: function() {
				storage.destroy();
			}
		});
	}

	document.getElementById('__storage_all').onclick = function() {
		var container = document.createElement('div');
		var storage = new Storage({
			container: container,
			admin_mode: false,

			onselect: function(file) {
				console.log('popup click', file);
			},

			onupload: function(file) {
				console.log('popup upload', file);
			},

			upload: {
				group: "test",
			},

			display: {
				show_groups: true,
			},
		});

		var popup = Popup.createWindow({
			content: container,
			onclose: function() {
				storage.destroy();
			}
		});
	}
</script>
@stop