@import 'styles/mixins/background_rgba';
@import 'styles/mixins/respond_to';

$progress_height: 4px;
$bg_color: (92, 165, 193, 1);

.request-progress__wrapper {
	min-width: $screen_phone;
	width: 100%;
	height: $progress_height;
	overflow: hidden;
	z-index: 10;
	position: absolute;

	@include respond_to(screen_wide) {
		position: fixed;
		top: 30px;
		left: 0px;
	}

	@include respond_to(screen_tablet) {
		position: fixed;
		top: 30px;
		left: 0px;
	}
}

.request-progress {
	@include background_rgba(nth($bg_color, 1), nth($bg_color, 2), nth($bg_color, 3), nth($bg_color, 4));
	height: $progress_height;
	border-radius: 0px 3px 3px 0px;
	overflow: hidden;
	transition: all 0.4s ease-in-out;
}