@section('site_title')
{{Lang::get('site.menu_' . $current_menu)}} // @parent
@stop

@section('site_content')
<div class="media-pages__wrapper">
	<div class="nice-form__button media-pages__create-project" id="__create_project">
		@lang('media_pages.create_page')
	</div>
	@if($group_tags)
	<div class="media-pages__tags-wrapper">
	TAGS
	</div>
	<div class="media-pages__list-wrapper">
	@endif

	@forelse ($pages_list as $page)
		<a class="media-pages__page" href="/@lang/admin/pages/{{$page['group']}}/{{$page['id']}}/"@if($page['preview']) style="background-image: url('{{$page['preview']}}')" @endif>
			<div class="media-pages__page-title">
				@if(isset($page['title']))
				{{$page['title']}}
				@else
				–
				@endif
			</div>

			<div class="media-pages__page-desc">
				@if(isset($page['desc']))
				{{$page['desc']}}
				@else
				–
				@endif
			</div>

			@if($page['date'])
			<div class="media-pages__date">
				{{$page['date']}}
			</div>
			@endif

			@if(count($page['versions']))
			<div class="media-pages__versions">
				@foreach($page['versions'] as $version)
					<span>{{$version}}</span>
				@endforeach
			</div>
			@endif

			@if(!$page['visible'])
			<div class="media-pages__page-hidden">
				<img src="/images/admin/page_hidden.png" />
			</div>
			@endif
		</a>

		<div class="media-pages__separator"></div>
	@empty
		<div class="nice-form__error">
		@lang('media_pages.pages_not_found')
		</div>
	@endforelse

	<br /><br />

	@include(
		"plugins.paginator",
		array(
			'page'  => $paginator_page,
			'pages' => $paginator_pages,
			'link'  => $paginator_link,
		)
	)

	@if($group_tags)</div>@endif

	<br class="floating-clear" />
</div>

<script src="/v_@file_hash('/public/js/admin/media_pages.js')/js/admin/media_pages.js"></script>
<script>
document.getElementById('__create_project').onclick = function() {
	MediaPages.create('{{$pages_group}}');
};
</script>
@stop