@extends('admin.base')

@section('site_title')
{{Lang::get('site.menu_' . $current_menu)}} // @parent
@stop

@section('site_content')
<div class="media-page-editor" id="__media_page">
	<div class="nice-form__loader"></div>
</div>

<div class="nice-form__button" id="__destroy">DESTROY</div>

<script src="/v_@file_hash('/public/js/admin/media_page_editor.js')/js/admin/media_page_editor.js"></script>
<script>
Rocky.onload(function(){
	var page = new MediaPageEditor({
		page_id: {{$page_id}},
		container: '__media_page',
	});

	document.getElementById('__destroy').onclick = function() {
		page.destroy();
	};
});
</script>
@stop