$pages_tags_width: 200px;
$pages_tags_margin: 30px;

.media-pages__wrapper {

}

	.media-pages__create-project {
		margin-bottom: 15px;
	}

.media-pages__list-wrapper {
	@include respond_to(screen_wide) {
		margin-right: $pages_tags_width + $pages_tags_margin;
		min-width: $screen_tablet - $pages_tags_width - $pages_tags_margin - 60px;
	}

	@include respond_to(screen_tablet) {
		margin-right: $pages_tags_width + $pages_tags_margin;
		min-width: $screen_tablet - $pages_tags_width - $pages_tags_margin - 60px;
	}
}

.media-pages__tags-wrapper {
	@include respond_to(screen_wide) {
		float: right;
		min-width: $pages_tags_width;
	}

	@include respond_to(screen_tablet) {
		float: right;
		min-width: $pages_tags_width;
	}
}

.media-pages__page {
	display: block;
	height: 50px;
	margin: 0px;
	padding: 0px;
	position: relative;
	background: #f5f5f5;
	padding-top: 100px;
	color: #FFF;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

	.media-pages__page-title {
		height: 30px;
		line-height: 30px;
		font-size: 18px;
		padding: 0px 5px;
		white-space: nowrap;
		@include background_rgba(100, 100, 100, .6);
	}

	.media-pages__page-desc {
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		padding: 0px 5px;
		white-space: nowrap;
		@include background_rgba(100, 100, 100, .6);
	}

	.media-pages__date {
		position: absolute;
		bottom: 0px;
		height: 20px;
		line-height: 20px;
		right: 5px;
		font-size: 12px;
	}

	.media-pages__versions {
		position: absolute;
		bottom: 20px;
		height: 30px;
		line-height: 30px;
		right: 5px;
		font-size: 14px;
	}

	.media-pages__page-hidden {
		position: absolute;
		top: 10px;
		left: 10px;
	}

		.media-pages__page-hidden img {
			width: 24px;
			height: 24px;
			opacity: .5;
		}

.media-pages__separator {
	height: 1px;
	line-height: 1px;
	background: #EEE;
	margin: 15px 0px;
}