@import 'styles/mixins/respond_to';

$window_padding: 10px;

.site-content {
	min-width: $screen_phone;
	padding-top: 20px;
}

.site-content__container {
	min-width: $screen_phone - $window_padding * 2;
	max-width: $screen_wide - $window_padding * 2;
	padding: 0px $window_padding;

	@include respond_to(screen_wide) {
		margin: auto;
		width: $screen_wide - $window_padding;
	}
}

	.site-content__container a {
		color: #42648b;
	}