@import 'styles/mixins/respond_to';
@import 'styles/mixins/background_rgba';

$header_bg: (90, 90, 90);
$details_width:  220px;
$details_margin: 20px;

.gallery-photo {

}

	.gallery-photo__header {
		z-index: 5;
		margin: -30px auto 50px auto;
		width: 100%;
		height: 500px;
		height: 80vh;
		border-bottom: 1px solid #CCC;
		position: relative;
		background: #222;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		text-align: center;

		@include respond_to(screen_phone) {
			margin-top: -60px;
			height: 300px;
			height: 80vh;
		}
	}

	.gallery-photo__error {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		width: 100%;
		text-align: center;
		font-weight: bold;
	}

	.gallery-photo__loader {
		position: absolute;
		top: 50%;
		margin-top: -10px;
		width: 100%;
		text-align: center;
	}

	.gallery-photo__header-photo_wrapper {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
		height: 80vh;
		width: 100vw;
	}

	.gallery-photo__header-photo {
		max-width: 100%;
		max-height: 100%;
		max-height: 80vh;
		max-width: 100vw;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

/**
 *	Navigation
 */
.gallery-photo__navigation {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 80px;
	padding: 10px 0px;
	text-align: center;
	padding: 0px;
	margin: 0px;
	@include background_rgba(nth($header_bg, 1), nth($header_bg, 2), nth($header_bg, 3), 0.2);
	
	@include respond_to(screen_phone) {
		height: 50px;
	}
}

	.gallery-photo__navigation-link {
		cursor: pointer;
		height: 58px;
		width: 58px;
		margin: 10px 10px;
		display: inline-block;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border: 1px solid #666;
		opacity: .7;

		@include respond_to(screen_tablet) {
			height: 48px;
			width: 48px;
			margin: 15px 4px;
		}
		
		@include respond_to(screen_phone) {
			height: 28px;
			width: 28px;
			margin: 10px 4px;
		}
	}

	.gallery-photo__navigation-link:hover, .gallery-photo__navigation-link--current {
		opacity: 1;
		border: 1px solid #AAA;
	}

	.gallery-photo__navigation-prev, .gallery-photo__navigation-next {
		cursor: pointer;
		height: 60px;
		width: 60px;
		text-align: center;
		line-height: 60px;
		font-size: 30px;
		color: #EEE;
		position: absolute;
		margin: 10px 10px;
		opacity: .7;

		@include respond_to(screen_phone) {
			height: 30px;
			width: 20px;
			line-height: 30px;
			font-size: 20px;
		}
	}

		.gallery-photo__navigation-prev:hover, .gallery-photo__navigation-next:hover {
			opacity: .9;
		}

		.gallery-photo__navigation-prev {
			top: 0px;
			right: 0px;
		}

		.gallery-photo__navigation-next {
			top: 0px;
			left: 0px;
		}

/**
 *	Info section
 */
.gallery-photo__info {
	margin-top: -30px;
	margin-bottom: 30px;
	position: relative;
}

/**
 *	Wrappers
 */
.gallery-photo__common-wrapper {
	@include respond_to(screen_wide) {
		margin-right: $details_width + $details_margin;
		min-width: $screen_tablet - $details_width - $details_margin - 60px;
	}

	@include respond_to(screen_tablet) {
		margin-right: $details_width + $details_margin;
		min-width: $screen_tablet - $details_width - $details_margin - 60px;
	}
}

	.gallery-photo__common {
		@include respond_to(screen_wide) {
			min-width: 420px;
		}

		@include respond_to(screen_tablet) {
			min-width: 220px;
		}
	}

.gallery-photo__details-wrapper {
	@include respond_to(screen_wide) {
		float: right;
		max-width: $details_width;
	}

	@include respond_to(screen_tablet) {
		float: right;
		max-width: $details_width;
	}
}

	.gallery-photo__details {
		min-width: $details_width;
	}

/**
 *	Title
 */
.gallery-photo__title {
	font-size: 24px;
	line-height: 30px;
	color: #666;
}

/**
 *	Details
 */
.gallery-photo__detail {
	min-width: $details_width - 45px;
	text-align: center;
	padding: 0px 0px 0px 45px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 24px;
}